openapi: 3.0.3
info:
  title: Langbase Agent Chunker API
  description: Representative OpenAPI description of the Langbase serverless AI developer platform. All endpoints are served from https://api.langbase.com and authenticated with a Bearer API key. Generative endpoints (Pipes run, Agent run) return Server-Sent Events (SSE) when `stream` is true. This document is a faithful representative model authored by API Evangelist and is not the provider's official specification.
  termsOfService: https://langbase.com/terms
  contact:
    name: Langbase Support
    url: https://langbase.com/support
  version: '1.0'
servers:
- url: https://api.langbase.com
  description: Langbase production API
security:
- api_key: []
tags:
- name: Chunker
paths:
  /v1/chunker:
    post:
      operationId: chunkContent
      tags:
      - Chunker
      summary: Split text into overlapping chunks.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChunkRequest'
      responses:
        '200':
          description: An array of text chunks.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
components:
  schemas:
    ChunkRequest:
      type: object
      properties:
        content:
          type: string
        chunkMaxLength:
          type: integer
          default: 1024
          minimum: 1024
          maximum: 30000
        chunkOverlap:
          type: integer
          default: 256
          minimum: 256
      required:
      - content
  securitySchemes:
    api_key:
      type: http
      scheme: bearer
      bearerFormat: apiKey
