openapi: 3.0.3
info:
  title: Langbase Agent Parser API
  description: Representative OpenAPI description of the Langbase serverless AI developer platform. All endpoints are served from https://api.langbase.com and authenticated with a Bearer API key. Generative endpoints (Pipes run, Agent run) return Server-Sent Events (SSE) when `stream` is true. This document is a faithful representative model authored by API Evangelist and is not the provider's official specification.
  termsOfService: https://langbase.com/terms
  contact:
    name: Langbase Support
    url: https://langbase.com/support
  version: '1.0'
servers:
- url: https://api.langbase.com
  description: Langbase production API
security:
- api_key: []
tags:
- name: Parser
paths:
  /v1/parser:
    post:
      operationId: parseDocument
      tags:
      - Parser
      summary: Parse a document into clean text.
      description: Extracts clean text from an uploaded document. Supports PDF, CSV, XLSX, XLS and more, up to 10 MB.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                document:
                  type: string
                  format: binary
                documentName:
                  type: string
                contentType:
                  type: string
              required:
              - document
              - documentName
              - contentType
      responses:
        '200':
          description: The parsed document content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseResponse'
components:
  schemas:
    ParseResponse:
      type: object
      properties:
        documentName:
          type: string
        content:
          type: string
  securitySchemes:
    api_key:
      type: http
      scheme: bearer
      bearerFormat: apiKey
